<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--<connectionStrings>
		<add name="Name"
		 providerName="System.Data.ProviderName"
		 connectionString="Valid Connection String;" />
	</connectionStrings>-->
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Com.RePower.Ocv.Project.Byd.CB09.Settings.SystemSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Com.RePower.Ocv.Project.Byd.CB09.Settings.AuthenticitySetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Com.RePower.Ocv.Project.Byd.CB09.Settings.NetPlcSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Com.RePower.Ocv.Project.Byd.CB09.Settings.NetDmmSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Com.RePower.Ocv.Project.Byd.CB09.Settings.SerialPortOhmSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Com.RePower.Ocv.Project.Byd.CB09.Settings.SerialPortSwitchBoardSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Com.RePower.Ocv.Project.Byd.CB09.Settings.NetTemperatureSensorSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Com.RePower.Ocv.Project.Byd.CB09.Settings.WmsSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<!--系统配置-->
		<Com.RePower.Ocv.Project.Byd.CB09.Settings.SystemSetting>
			<setting name="DefaultOcvType" serializeAs="String">
				<value>OCV3</value>
			</setting>
			<setting name="DefaultWorkType" serializeAs="String">
				<value>FourBars</value>
			</setting>
		</Com.RePower.Ocv.Project.Byd.CB09.Settings.SystemSetting>
		<!--模拟配置-->
		<Com.RePower.Ocv.Project.Byd.CB09.Settings.AuthenticitySetting>
			<!--是否真实PLC-->
			<setting name="IsRealPlc" serializeAs="String">
				<value>false</value>
			</setting>
			<!--是否真实万用表-->
			<setting name="IsRealDmm" serializeAs="String">
				<value>false</value>
			</setting>
			<!--是否真实内阻仪-->
			<setting name="IsRealOhm" serializeAs="String">
				<value>false</value>
			</setting>
			<!--是否真实切换板-->
			<setting name="IsRealSwitchBoard" serializeAs="String">
				<value>false</value>
			</setting>
			<!--是否真实温度传感器-->
			<setting name="IsRealTemperatureSensor" serializeAs="String">
				<value>false</value>
			</setting>
			<!--是否真实WMS-->
			<setting name="IsRealWms" serializeAs="String">
				<value>false</value>
			</setting>
			<!--是否真实MES-->
			<setting name="IsRealMes" serializeAs="String">
				<value>false</value>
			</setting>
		</Com.RePower.Ocv.Project.Byd.CB09.Settings.AuthenticitySetting>
		<!--PLC配置-->
		<Com.RePower.Ocv.Project.Byd.CB09.Settings.NetPlcSetting>
			<setting name="DeviceName" serializeAs="String">
				<value>PLC</value>
			</setting>
			<setting name="IpAddress" serializeAs="String">
				<value>192.168.1.30</value>
			</setting>
			<setting name="Port" serializeAs="String">
				<value>502</value>
			</setting>
			<setting name="DataFormat" serializeAs="String">
				<value>CDAB</value>
			</setting>
		</Com.RePower.Ocv.Project.Byd.CB09.Settings.NetPlcSetting>
		<!--万用表-->
		<Com.RePower.Ocv.Project.Byd.CB09.Settings.NetDmmSetting>
			<setting name="DeviceName" serializeAs="String">
				<value>万用表</value>
			</setting>
			<setting name="IpAddress" serializeAs="String">
				<value>192.168.0.1</value>
			</setting>
			<setting name="Port" serializeAs="String">
				<value>502</value>
			</setting>
			<setting name="ReadDelay" serializeAs="String">
				<value>30</value>
			</setting>
		</Com.RePower.Ocv.Project.Byd.CB09.Settings.NetDmmSetting>
		<!--内阻仪配置-->
		<Com.RePower.Ocv.Project.Byd.CB09.Settings.SerialPortOhmSetting>
			<setting name="DeviceName" serializeAs="String">
				<value>内阻仪</value>
			</setting>
			<setting name="PortName" serializeAs="String">
				<value>COM3</value>
			</setting>
			<setting name="BaudRate" serializeAs="String">
				<value>9600</value>
			</setting>
			<setting name="ReadDelay" serializeAs="String">
				<value>300</value>
			</setting>
			<setting name="Digits" serializeAs="String">
				<value>4</value>
			</setting>
		</Com.RePower.Ocv.Project.Byd.CB09.Settings.SerialPortOhmSetting>
		<!--切换板配置-->
		<Com.RePower.Ocv.Project.Byd.CB09.Settings.SerialPortSwitchBoardSetting>
			<setting name="DeviceName" serializeAs="String">
				<value>切换板</value>
			</setting>
			<setting name="PortName" serializeAs="String">
				<value>COM1</value>
			</setting>
			<setting name="BaudRate" serializeAs="String">
				<value>9600</value>
			</setting>
			<setting name="ReadDelay" serializeAs="String">
				<value>30</value>
			</setting>
		</Com.RePower.Ocv.Project.Byd.CB09.Settings.SerialPortSwitchBoardSetting>
		<!--温度传感器配置-->
		<Com.RePower.Ocv.Project.Byd.CB09.Settings.NetTemperatureSensorSetting>
			<setting name="DeviceName" serializeAs="String">
				<value>Mtv</value>
			</setting>
			<setting name="IpAddress" serializeAs="String">
				<value>192.168.0.1</value>
			</setting>
			<setting name="Port" serializeAs="String">
				<value>502</value>
			</setting>
			<setting name="ReadDelay" serializeAs="String">
				<value>30</value>
			</setting>
		</Com.RePower.Ocv.Project.Byd.CB09.Settings.NetTemperatureSensorSetting>
		<!--WMS配置-->
		<Com.RePower.Ocv.Project.Byd.CB09.Settings.WmsSetting>
			<!--获取托盘条码接口-->
			<setting name="GetBatteryInfoUrl" serializeAs="String">
				<value>OcvGetTrayInfo</value>
			</setting>
			<!--上传测试结果接口-->
			<setting name="UploadTestResultUrl" serializeAs="String">
				<value>UploadOcvResult</value>
			</setting>
			<!--基础地址-->
			<setting name="BaseAddress" serializeAs="String">
				<value>http://172.17.20.6:8082/swagger/index.html/api/MERequest</value>
			</setting>
			<!--工艺号-->
			<setting name="FileName" serializeAs="String">
				<value></value>
			</setting>
			<!--工位号-->
			<setting name="EquipmentCode" serializeAs="String">
				<value></value>
			</setting>
		</Com.RePower.Ocv.Project.Byd.CB09.Settings.WmsSetting>
	</applicationSettings>


	<connectionStrings>
		<add name="MesDataBase" connectionString="Server=(localdb)\mssqllocaldb;Database=Blogging;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>